@import "tailwindcss";

@font-face {
    font-family: "Figtree", sans-serif;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
    font-family: "Figtree", sans-serif;
}

@theme {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-lightGray: hsl(0, 0%, 42%);
    --color-darkGray: hsl(0, 0%, 7%);
}

.card-shadow {
    box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 100%);
    transition: all 250ms;
}

.hover-parent h1 {
    transition: all 250ms;
}

.hover-parent:hover h1 {
    color: hsl(47, 88%, 63%);
}

.card-shadow:hover {
    box-shadow: 16px 16px 0 0 rgba(0, 0, 0, 100%);
}